[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyterhub.pid
Environment=PATH=/bin:/usr/bin:/usr/local/bin
ExecStart=/bin/bash -c '/usr/local/bin/jupyterhub -f "/etc/.jupyterhub/jupyterhub_config.py"'
User=root
WorkingDirectory=/home/
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
