[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyterhub.pid
ExecStart=/bin/bash -c '/usr/bin/jupyterhub --ip "$(curl -s https://api.ipify.org)" --port 8080 -f "/etc/.jupyterhub/jupyterhub_config.py"'
User=root
WorkingDirectory=/home/
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target